<%= form_with(model: @bookmark, local: true, id: 'new_bookmark_form', data: { controller: 'bookmark-form' }) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation" class="error-messages">
      <ul>
        <% @bookmark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="mb-3">
    <%= f.label :url, "URL", class: "form-label" %>
    <%= f.url_field :url, class: "form-control", required: true, data: { bookmark_form_target: 'url' } %>
    <div class="error-message hidden" data-bookmark-form-target="errorMessages"></div>
  </div>
  
  <div class="mb-3">
    <%= f.label :title, "タイトル", class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="mb-4">
    <%= f.label :tags_text, "タグ（カンマ区切り）", class: "form-label" %>
    <%= f.text_field :tags_text, class: "form-control" %>
  </div>
  
  <%= f.submit '追加', data: { bookmark_form_target: 'submit' }, class: "btn btn-dark w-100" %>
<% end %> 