<div id="bookmark_form">
  <%= form_with(model: bookmark, local: true) do |f| %>
    <% if bookmark.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% bookmark.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="mb-3">
      <%= f.label :url, "URL", class: "form-label" %>
      <%= f.url_field :url, class: "form-control" %>
    </div>
    
    <div class="mb-3">
      <%= f.label :title, "タイトル", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    
    <div class="mb-4">
      <%= f.label :tags_text, "タグ（カンマ区切り）", class: "form-label" %>
      <%= f.text_field :tags_text, class: "form-control" %>
    </div>
    
    <%= f.submit "追加", class: "btn btn-dark w-100" %>
  <% end %>
</div> 